@mixin no-text-decoration() {
  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

@mixin base-container() {
  padding-bottom: 75px;
  max-width: 1000px;
  margin: auto;
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility;
}
